<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>res_game_393</key>
        <real>0.0000000000000000</real>
        <key>res_game_389</key>
        <real>0.0000000000000000</real>
        <key>res_game_391</key>
        <real>0.0000000000000000</real>
        <key>res_game_392</key>
        <real>0.0000000000000000</real>
        <key>res_client</key>
        <real>0.0000000000000000</real>
    </dict>
</plist>
